.screen-header{
    display:flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
    
}

.header__title{
    font-size:32px;
    font-weight: 600;
}

.header__icons span{
    margin-left:25px;
}